<% include ../partials/header %>

<h1 style="text-align: center; margin-top: 3%;">
    Edit
    <span class="d-sm-block d-md-none">
        Campground
    </span>
    <span class="d-none d-md-inline">
        <%= campground.name %>
    </span>
</h1>
<div class="container">
    <div class="row">
        <div  class="col-md-4 mx-auto mt-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">  
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[image]" value="<%= campground.image %>"">
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="campground[description]" placeholder="Edit Description for this Campground" rows="5"> <%= campground.description %> </textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block"> Submit </button>
                </div>
            </form>
            <a href="/campgrounds"> Go Back </a>
        </div>
    </div>
</div>   


<% include ../partials/footer %>